<h1>Dodaj Nabiralnik</h1>
<form action="createMailbox/" method="post">
    <input type="text" name="registrationId" placeholder="Id" required="">
    <input type="text" name="unlockKey" placeholder="key" required="">
    <input type="submit" value="REGISTER">
</form>
