<h1>Vpisi id paketnika</h1>
<form action="token/" method="post">
    <input type="text" name="mailboxId" placeholder="" required>
    <div class="tp">
        <input type="submit" value="Poslji">
    </div>
</form>
