<h1>Registriraj paketnik</h1>
<form action="register/" method="post">
    <input type="text" name="registrationId" placeholder="Registracijska stevilka paketnika" required>
    <div class="tp">
        <input type="submit" value="Poslji">
    </div>
</form>
