<div>
{{#each this.order}}
<hr>
    <div class="row order-center">
        <div class="col col-md-9">
            <h3><b>Izdelek: </b>{{name}} </h3>
            <h4><b>Kolicina: </b>{{quantity}} </h4>
            <h4><b>Teza: </b>{{weight}} </h4>
            <p><b>Črtna koda: </b>{{barcode}} </p>
        </div>
    </div>
{{/each}}

<form action="placeOrder/" method="post">
    <input type="submit" value="Oddaj narocilo">
</form>
