<div>
{{#each this.order}}
<hr>
        <div class="row">
            <div class="col col-md-9">
                <p>Izdelek: {{name}} </p>
                <p>Kolicina: {{quantity}} </p>

                <p>Teza: {{weight}} </p>
                <p>Črtna koda: {{barcode}} </p>

            </div>
        </div>
{{/each}}

<form action="placeOrder/" method="post">
    <input type="submit" value="Oddaj narocilo">
</form>
