<audio controls preload="auto">
    <source src="{{this.fileSource}}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<div class="row">
    <div class="col col-md-8 center">
        <p><b>OrderId: </b>this.currentOrderId</p>
        <form action="/orders/deliver/{{this.currentOrderId}}" method="post">
            <input type="submit" class="btn btn-primary" value="Koncaj dostavo">
        </form>

    </div>
</div>
