<h1>Ustvari profil</h1>
<form action="createNewUser" method="post">
    <input type="text" name="email" placeholder="E-mail" required="">
    <input type="text" name="username" placeholder="Username" required="">
    <input type="password" name="password" placeholder="Password" required="">
    <label for="cars">Izberi tip racuna:</label>
    <select id="racun" name="racun">
        <option value="uporabnik">Lasstnik paketnika</option>
        <option value="dostavljalec">Dostavljalec</option>
    </select>

    <input type="submit" value="Ustvari">
</form>


