<h1>Spremeni profil uporabnika</h1>
<form action="updateUser" method="post">
    <input type="text" name="user_id" placeholder="Id uporabnika" required="">
    <input type="text" name="email" placeholder="E-mail" required="">
    <input type="text" name="username" placeholder="Username" required="">
    <input type="password" name="password" placeholder="Password" required="">
    <label for="racun">Izberi tip racuna:</label>
    <select id="racun" name="racun">
        <option value="uporabnik">Lastnik paketnika</option>
        <option value="dostavljalec">Dostavljalec</option>
    </select>

    <input type="submit" value="Posodobi">
</form>
</form>
