<h1>Vpisite id uporabnika, ki ga zelite izbrisati</h1>
<form action="deleteUser" method="post">
    <input type="text" name="user_id" placeholder="" required>
    <div class="tp">
        <input type="submit" value="Izbrisi">
    </div>
</form>
