<div class="col col-md-6 center">
    <h5>Identifikacijska stevilka paketnika: {{this.box.unlockKey}}</h5>
</div>
{{#if this.box.requireUnlock}}
<div class="col col-md-3 center">
    <form class="form-group row" action="unlockMailbox/{{this.box.unlockKey}}" method="post">
        <fieldset>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input class="btn btn-block btn-primary" type="submit" value="Odkleni">
                </div>
            </div>
        </fieldset>
    </form>
</div>
{{else}}
{{/if}}