<div class="row order-left">
    <div class="col col-md-12">
        <h4><b>Ime: {{this.user.username}} </h4>
        <h4><b>E-naslov: {{this.user.email}} </h4>
        {{#if this.hasPhoto}}
        <img class="rounded" src="/{{this.photo.path}}" alt="nekaj" />
        {{/if}}
    </div>

</div>