<h1>Profil uporabnika</h1><hr>
<h2 class="col-sm-2">Ime: </h2>
<h4 class="col-sm-2">{{username}}</h4>
<h2 class="col-sm-2">Mail: </h2>
<h4 class="col-sm-2">{{email}}</h4>
<br><a type="button" class="btn btn-primary" methods="post" href="logout">Odjava</a>

