<h1>REGISTRACIJA</h1>
<hr>
<form action="/users" method="post">
	<div class="form-group row">
		<label for="email" class="col-sm-2 col-form-label">E-mail: </label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="email" name="email" placeholder="E-mail" required="">
		</div>
	</div>
	<div class="form-group row">
		<label for="username" class="col-sm-2 col-form-label">Uporabniško ime: </label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="username" name="username" placeholder="Username" required="">
		</div>
	</div>
	<div class="form-group row">
		<label for="password" class="col-sm-2 col-form-label">Geslo: </label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="password" name="password" placeholder="Password" required="">
		</div>
	</div>
	<div class="form-group row">
    	<div class="col-sm-10">
			<input type="submit" class="btn btn-primary" value="REGISTER">
		</div>
	</div>
</form>
