<div class="row d-flex justify-content-center">
    <div class="col col-md-6">
        <h5>Dodaj Izdelek</h5>
        <hr>
        <form action="addItem/" method="post">
            <fieldset>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="itemname" name="itemname" placeholder="Ime izdelka" required="">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input class="form-control" id="itemweight" type="text" name="itemweight" placeholder="Teza" required="">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Kolicina" required="">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="submit" class="btn-block btn btn-success" value="Dodaj">
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
