<h1>Dodaj v kosarico</h1>
<form action="/addItem" method="post">
    <input type="text" name="itemname" placeholder="Item name" required="">
    <input type="text" name="itemweight" placeholder="Weight " required="">
    <input type="text" name="quantity" placeholder="Quantity" required="">
    <input type="submit" value="REGISTER">
</form>
