<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script
      src="https://kit.fontawesome.com/4e85d659ba.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">NABIRALNIK</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">DOMOV <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../users/register"><i class="fas fa-user"></i> Registracija</a>
          </li>
          {{#if session.session.users}}
            <li class="nav-item">
              <a class="nav-link"><i class="fas fa-sign-out-alt"></i> Odjava</a>
            </li>
          {{/if}}
          <li class="nav-item">
            <a class="nav-link" href="../users/login"><i class="fas fa-sign-in-alt"></i> Prijava</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="body">
      {{{body}}}
    </div>
  </body>
</html>
