<section class="h-100">
    <header class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex flex-column">
                <h4 class="text align-self-center p-5">{{text}}</h4>
            </div>
        </div>
    </header>
</section>

<script>
  setTimeout(function () {
     window.location = "/";
  }, 1500)
</script>