body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.body {
  padding: 50px;
}

.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
}

.custom-file-input ~ .custom-file-label::after {
  content: "Button Text";
}
